
<main>
  <div class="form-row">
    <h5><strong>This is My first project</strong></h5>
    <div class="form-group col-md-6">
      <table class="table table-bordered center ">
        <tr>
          <th>project name</th>
          <th>recent product</th>
          <th>customer name</th>
          <th>categroy name</th>
        </tr>
        <% @product_details.each do |task| %>
          <tr>
            <td><%= task.product_title %></td>
            <td><%= task.recent_product %></td>
            <td><%= task.customer.customer_name %></td>
            <td><%= task.category.category_name %></td>
          </tr>
        <% end %>
      </table> 
      <div class="form-group col-md-6 product_table">
      </div>
    </div>
  </div>         
</main>

